/*
 * Main
 */

/* Main Style */

h2 {
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

body {
  background-color: #f8f7f9;
  font-family: "Roboto", Arial, sans-serif;
}

.title-page {
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* Pricing plan */

.pricing-plan {
  position: relative;
  padding-bottom: 70px;
  border: 2px solid #94959a;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.pricing-plan .fa {
  margin-right: 5px; /* margin-right of the icon in pricing plan block */
}

/* Tariff plan */

.header-plan {
  margin-left: 20px;
  height: 60px;
  text-align: left;
}

.plan-title {
  color: #94959a;
  font-size: 26px;
  line-height: 60px;
}

.plan-price {
  height: 60px;
  background-color: #94959a;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}

.plan-price span {
  font-weight: 400;
  font-size: 18px;
}

.plan-body {
  padding-right: 20px;
  padding-left: 20px;
}

.plan-text {
  margin-top: 50px;
  margin-bottom: 60px;
  color: #94959a;
  font-weight: 700;
  font-size: 16px;
}

.plan-text span {
  color: #c1392d;
  text-decoration: line-through;
}

.best-tariff {
  margin-top: -12px;
  border: 4px solid #27ae60;
}

.label-discount {
  position: absolute;
  top: 19px;
  right: 20px;
  padding: 1px 10px;
  border-radius: 4px;
  background-color: #f6ab02;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.best-tariff .plan-price {
  height: 80px;
  background-color: #27ae60;
  line-height: 80px;
}

.label-best-tariff {
  position: absolute;
  top: -36px;
  right: 10px;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 4px 4px 0 0;
  background-color: #2dcc70;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.free-trial {
  margin-top: 5px;
  color: #94959a;
  font-size: 14px;
}

.free-trial span {
  font-weight: 700;
}

/* Button Style */

.btn {
  display: inline-block;
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  color: #2dcc70;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat {
  border: 2px solid #2dcc70;
  background-color: #2dcc70;
  color: #fff;
}

.btn-flat:hover {
  border: 2px solid #27ae60;
  background-color: #27ae60;
  color: #fff;
}

.btn-border {
  border: 2px solid #2dcc70;
  background-color: #fff;
  color: #2dcc70;
}

.btn-border:hover {
  border: 2px solid #27ae60;
  color: #27ae60;
}


/*
 * Desktop First Method  
 */

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .pricing-plan {
    margin-bottom: 30px;
    padding-bottom: 35px;
  }
  .header-plan {
    margin-left: 0;
    height: 85px;
    text-align: center;
  }
  .plan-title {
    line-height: 50px;
  }
  .label-discount {
    position: static;
  }
  .plan-text {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .best-tariff {
    margin-top: 20px;
  }
  .header-plan {
    margin-left: 20px;
    height: 60px;
    text-align: left;
  }
  .plan-title {
    line-height: 60px;
  }
  .label-discount {
    position: absolute;
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  .header-plan {
    margin-left: 0;
    height: 85px;
    text-align: center;
  }
  .plan-title {
    line-height: 50px;
  }
  .label-discount {
    position: static;
  }
}