.price {
  background-color: #0C8543;
}

.price__container {
  padding-bottom: 35px;
}

.price__title {
  @include sm-title;
  color: white;

  padding-top: 35px;
  padding-bottom: 20px;
}

.price__plate {
  background-color: white;
  border-radius: 8px;

  & h3 {
    @include sm-title;
    padding: 16px 10px;
    position: relative;
  }

  & h3::before {
    content: "";

    position: absolute;
    width: 248px;
    height: 126px;

    top: 79px;
    left: 48.5px;

    background-image: url(/img/price_house.png);
  }

  & p {
    @include sm-title;
    font-weight: 500;
    padding-top: 120px;
    margin-bottom: 0;
  }
}

.price__plate-list {
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 19px;
  padding-right: 19px;

  & .price__plate-listItem{
    background-color: rgba(255, 149, 1, 0.15);
    border: 1px solid #FF9501;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 97px;
    height: 64px;
    padding: 8px 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 8px;
    }
    &:first-child,
    &:nth-child(4),
    &:nth-child(5) {
      margin-right: 8px;
    }

    &:hover {
      border: 2px solid #FF9501;
      outline: none;
      text-decoration: none;
    }

    &:focus {
      background-color: #0C8543;
      border: none;
      outline: none;
    }
  }
}

.price__plate-button {
  padding: 24px 40px;
  margin-bottom: 30px;

  background: #FF9501;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px #ca7600;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  &:hover {
    outline: none;
    box-shadow: 0px 2px 0px #ca7600;
  }
}

@media (min-width: 768px) {
  .price__plate {
    & h3::before {
      top: 50px;
      left: 235px;
    }
  }

  .price__plate-list {

    & .price__plate-listItem {
      max-width: 171px;
      height: 48px;
      padding: 8px 10px;
      margin-right: 10px;
      margin-bottom: 8px;

      &:first-child,
      &:nth-child(4),
      &:nth-child(5) {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1440px) {
  .price__title {
    @include md-title;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .price__plate {

    & h3 {
      @include md-title;
      padding-top: 40px;
    }

    & h3::before {
      top: 106px;
      left: 431px;
    }

    & p {
      padding-top: 165px;
      font-size: 23px;
      line-height: 28px;
    }
  }

  .price__plate-list {
    padding-top: 15px;
    padding-bottom: 30px;

    & .price__plate-listItem{
      max-width: 171px;
      padding: 10px 15px;
      margin-right: 16px;

      font-weight: 500;
      font-size: 23px;
      line-height: 28px;

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 8px;
      }
      &:first-child,
      &:nth-child(4),
      &:nth-child(5) {
        margin-right: 16px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .price__plate-button {
    margin-bottom: 45px;
  }
}
