.reviews {
  border-bottom: 1px solid #0C8543;
}

.reviews__title {
  @include sm-title;
  padding-top: 35px;
  padding-bottom: 20px;
}

.reviews__slider-container {
  width: 345px;
  overflow: hidden;
}

.reviews__slider-list {
  margin-bottom: 62px;
  width: 1725px;
}

.reviews__slider-slide {
  padding: 25px 28px;
  height: 395px;
  width: 345px;

  background-color: #F3F9F6;
  border-radius: 8px;

  & img {
    max-width: 70px;
    margin: auto;
    padding-bottom: 15px;
  }
}

.reviews__slider-caption {
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.reviews__slider-rating {
  padding-bottom: 10px;
}

.reviews__slider-star {
  content: "";
  width: 29px;
  height: 29px;
  background-image: url(/img/star.png);
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__slider-name {
  margin-bottom: 0;
}

.reviews__slider-property {
  font-weight: 700;
}

.reviews__control {
  display: none;
}

.reviews__slider-dots {
  align-items: center;
  margin-top: 14px;
  margin-bottom: 34px;

  & .reviews__slider-dot {
    width: 6px;
    height: 6px;
    margin-right: 9px;
    text-indent: -999px;
    background-color: black;
    border-radius: 50%;
  }

  & .active-dot {
    width: 6px;
    height: 6px;
    margin-right: 9px;
    text-indent: -999px;
    background-color: black;
    box-sizing: content-box;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px black;
  }
}

.footnote {
  padding: 35px 0;
  margin-bottom: 0;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  #reviews__slider {
    position: relative;
  }

  .reviews__slider-container {
    width: 720px;
  }

  .reviews__slider-list {
    width: 1825px;
    background-color: white;
  }

  .reviews__slider-slide {
    width: 360px;
    padding: 0;
    background-color: white;

    & .reviews__slider-contentContainer {
      background-color: #F3F9F6;
      border-radius: 8px;

      padding: 25px 28px;
      margin: 0 10px;
      height: 395px;
    }

    &:first-child .reviews__slider-contentContainer {
      margin-left: 0;
    }

    &:last-child .reviews__slider-contentContainer {
      margin-right: 0;
    }
  }

  .reviews__control {
    display: block;
    position: absolute;
    height: 100%;
    width: 40px;
    border: none;
    background-color: transparent;

    &--prev:focus, :active, :hover {
      outline: none;
    }

    &--prev:focus::before,
    &--prev:hover::before,
    &--prev:active::before {
      outline: none;
      border-top: 5px solid #0C8543;
      border-left: 5px solid #0C8543;
    }

    &--prev {
      left: -38px;
      top: -20px;
    }

    &--prev::before {
      z-index: 2;
      content: "";
      position: absolute;

      width: 20px;
      height: 20px;
      border-top: 5px solid rgba(1, 1, 1, 0.3);
      border-left: 5px solid rgba(1, 1, 1, 0.3);
      transform: rotate(-45deg);
    }

    &--next {
      left: 698px;
      top: -20px;
    }

    &--next::before {
      z-index: 2;
      content: "";
      position: absolute;

      width: 20px;
      height: 20px;
      border-top: 5px solid rgba(1, 1, 1, 0.3);
      border-left: 5px solid rgba(1, 1, 1, 0.3);
      transform: rotate(135deg);
    }

    &--next:focus, :active, :hover {
      outline: none;
    }

    &--next:focus::before,
    &--next:hover::before,
    &--next:active::before {
      outline: none;
      border-top: 5px solid #0C8543;
      border-left: 5px solid #0C8543;
    }
  }

  .reviews__slider-dot {
    &--tablet {
      display: none;
    }
  }

  .footnote {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .reviews__slider-container {
    width: 1110px;
  }

  .reviews__slider-list {
    width: 1880px;
    background-color: white;
  }

  .reviews__slider-slide {
    width: 370px;
    height: 405px;
    padding: 0;
    background-color: white;

    & .reviews__slider-contentContainer {
      margin: 0 10px;

      height: 405px;
    }
  }

  .reviews__control {
    &--prev {
      left: -50px
    }

    &--next {
      left: 1100px;
    }
  }

  .reviews__slider-dot {
    &--desktop {
      display: none;
    }
  }

  .reviews__slider-dots {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}
